---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Head.astro';
---

<div class='prose dark:prose-invert lg:prose-lg prose-headings:text-gray-200 prose-p:text-gray-400 prose-h4:mb-0'>
  <slot />
</div>
